$p-color: #029e74;
$p-color-dark: #038763;
$blue-background-color: #f8f9fa;
$font-family: "Frank Ruhl Libre", serif;

// $h5-color: #a7b3c4;
$h5-color: rgba(128, 128, 128, 0.75);
$p: #90a1b7;

// $p-color: #ff6162;
// $p-color-dark: #d75656;

@import "./navigation";
@import "./footer";

@import "./home";
@import "./category";
@import "./form";
@import "./profile";
@import "./newArticlePage";

*,
h1,
h2,
h3,
h4,
h5,
p,
a,
input,
label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
  color: rgba($color: #000000, $alpha: 0.9);
  list-style: none;
  outline: none;
}
a {
  text-decoration: none;
}
button {
  background-color: $p-color;
  padding: 0.45rem 1.5rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;

  border-radius: 2.5px;
  border: 2px solid $p-color;
}

button.btn-primary {
  &:hover {
    background-color: $p-color-dark;
    border-color: $p-color-dark;
  }
}
button.btn-secondary {
  color: $p-color;
  background: transparent;

  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: $p-color;
    color: white;
  }
}

button.btn-plain {
  background-color: white;
  color: grey;
  border: 1px solid grey !important;
  width: 100%;

  &:hover {
    color: black;
    border-color: black;
    transition: ease 1s;
  }
}

a:hover {
  h2,
  span {
    color: $p-color;
    transition: all 0.2s ease;
  }
}

.card-body {
  padding: 1rem 0.5rem;
}

a,
img {
  cursor: pointer;
}

.alert-popup {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  background-color: #ff9494;
  margin-bottom: 1rem;
  padding: 0.25rem 1rem;

  p {
    font-size: 12px;
    span {
      font-weight: 500;
    }
  }
  display: none;
}
.alert-popup.active {
  display: block;
}
